{{#each this}}
<div class="posts__link" data-id={{id}} data-title={{title}}>
  <a class="posts-block" href="./details.html">
    {{#if backdrop_path}}
      <img class="posts__image" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="">
    {{else}}
      <img class="posts__image" src="../img/no-image.png" alt="">
    {{/if}}
      <div class="posts-block__text">
        <p>{{title}}{{name}}</p>
      </div>
    </a>
      <div class="posts-block__button">
        {{#if fav}}
          <div data-id={{id}} class="posts-block__button1 button_color">
        {{else}}
          <div data-id={{id}} class="posts-block__button1">
        {{/if}}
          <svg>
            <use class="posts-block__star" href="../img/sprite.svg#star-full"></use>
          </svg>
        </div>
        <div class="posts-block__button2">
          <svg>
            <use href="../img/sprite.svg#bell"></use>
          </svg>
        </div>
      </div>
  </div>
{{/each}}
