{{#each results}}
<div class="posts__link">
  <a class="posts-block" data-id={{id}} href="./details.html">
      <img class="posts__image" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="">
      <div class="posts-block__text">
        <p>{{title}}{{name}}</p>
      </div>
    </a>
      <div class="posts-block__button">
        <div data-id={{id}} class="posts-block__button1">
          <svg>
            <use href="../img/sprite.svg#star-full"></use>
          </svg>
        </div>
        <div class="posts-block__button2">
          <svg>
            <use href="../img/sprite.svg#bell"></use>
          </svg>
        </div>
      </div>
  </div>
{{/each}}
